html, body { width: 100%; height: 100%; margin: 0; padding: 0; font-family: 'Open Sans'; }
.hidden { display: none !important; }
.fullSizeContainer { position: absolute; top: 0; bottom: 0; left: 0; right: 0; }
.widgetsContainer, .dialogsContainer { pointer-events: none; }
.widgetsContainer.active, .dialogsContainer.active { pointer-events: auto; background-color: hsla(0, 0%, 0%, .4); }
.widgetsContainer *, .dialogsContainer * { pointer-events: auto; }
.dialogsContainer { display: flex; align-items: center; justify-content: space-around; z-index: 9999; }
.widgetsContainer { display: flex; justify-content: space-around; }

.leaflet-popup-content-wrapper { border-radius: 4px; }

.btn { border: 1px solid hsla(0, 0%, 0%, 0.25); border-radius: 4px; padding: 4px 8px; display: inline-block; cursor: pointer; }
.btn:hover { background: hsla(0, 0%, 0%, 0.05); }

.cinemaPopup { min-width: 200px; }
.cinemaPopup-row { padding: 5px 0; }
.cinemaPopup-title { border-bottom: 3px solid hsl(0, 0%, 80%); font-size: 1.3em; font-weight: bold; }
.cinemaPopup-footer { display: table; width: 100%; }
.cinemaPopup-details, .cinemaPopup-sessions { display: table-cell; width: 50%; text-align: center; }
.cinemaPopup-seance { text-decoration: underline; color: hsl(220, 70%, 45%); cursor: pointer; }
.cinemaPopup-seance:after { content: ','; }
.cinemaPopup-seance:last-child:after { content: ''; }

.widgetsContainer .iconSidebarWidget { right: 10px; }

.cinemaItemView { font-size: .8em; border-bottom: 1px solid hsla(0, 0%, 0%, 0.15); padding: 5px; cursor: pointer; }
.cinemaItemView:hover { background-color: hsla(0, 0%, 0%, .05); }

.movieItemView { font-size: .8em; border-bottom: 1px solid hsla(0, 0%, 0%, 0.15); padding: 5px; cursor: pointer; }
.movieItemView:hover { background-color: hsla(0, 0%, 0%, .05); }

div[data-pane-id="cinemasTab"] { overflow-y: scroll; }
.iconSidebarWidget-content { overflow: visible; }
.cinemasListView-searchInput { 
    width: calc(100% - 8px);
    border: 1px solid hsla(0, 0%, 0%, 0.25);
    padding: 4px;
    border-radius: 2px;
    margin-bottom: 4px;
}

.searchView { }
.searchView-input {     
    border-radius: 2px;
    padding: 4px 8px;
    border: 1px solid hsla(0, 0%, 0%, 0.15);
    width: 100%;
    box-sizing: border-box; 
}

.dialogView { min-width: 600px; min-height: 400px; background-color: white; box-shadow: 0 0 5px hsla(0, 0%, 0%, 0.5); position: relative; }
.dialogView-closeButton { cursor: pointer; position: absolute; top: 10px; right: 10px; }

.cinemaDetailsView { padding: 5px 20px; }
.cinemaDetailsView * { margin-bottom: 5px; margin-top: 5px; }
.cinemaDetailsView-title { font-size: 1.6em; }
.cinemaDetailsView-address { font-size: 0.9em; }
.cinemaDetailsView-photo { max-width: 600px; }

.selectedMovieWidget {    
    display: table;
    width: 70%;
    height: 40px;
    border-radius: 4px;
    box-shadow: 0 0 5px hsla(0, 0%, 0%, 0.5);
    background-color: hsla(0, 0%, 100%, 0.95);
    padding: 5px;
    margin-top: 10px;
    box-sizing: border-box;
}

.selectedMovieWidget-movieTitle { display: table-cell; text-align: center; width: 100%; }
.selectedMovieWidget-resetButton { display: table-cell; }

.preloaderView { color: #fff; font-size: 1.4em; }