<div class="cinemaPopup-title cinemaPopup-row"><%= shortTitle %></div>
<div class="cinemaPopup-adress cinemaPopup-row"><%= address %></div>
<% if (seances) { %>
    <div class="cinemaPopup-seances">
        <% for (var i = 0; i < seances.length; i++) { %>
            <span class="cinemaPopup-seance" data-seance-id="<%= seances[i].id %>"><%= seances[i].timeStr %></span>
        <% } %>
    </div>
<% } %>
<div class="cinemaPopup-footer cinemaPopup-row">
    <div class="cinemaPopup-details"><div class="btn">Подробно</div></div>
    <% if (!seances) { %>
        <div class="cinemaPopup-seances"><div class="btn">Сеансы</div></div>
    <% } %>
</div>