<div class="cinemaPopup-title cinemaPopup-row"><%= shortTitle %></div>
<div class="cinemaPopup-adress cinemaPopup-row"><%= address %></div>
<% if (seances) { %>
    <div class="cinemaPopup-seances">
        <% seances.map(function (seance) { %>
            <div class="seance">
                <%= seance.get('startTime') %>
            </div>
        <% }) %>
    </div>
<% } %>
<div class="cinemaPopup-footer cinemaPopup-row">
    <div class="cinemaPopup-details"><div class="btn">Подробно</div></div>
    <% if (!seances) { %>
        <div class="cinemaPopup-seances"><div class="btn">Сеансы</div></div>
    <% } %>
</div>